<footer class="bg-dark center text-light text-center p-3">
    <h6>Made by <a href="https://www.linkedin.com/in/tayeb-abderahim-ismail/" target="_blank" class="text-primary">Abderahim</a> | CopyRight &copy; <script>document.write((new Date()).getFullYear())</script></h6>
    <div class="position-absolute" style="bottom:10px; right:10px;">
        <a href="/auth/github" class="btn btn-success">Login</a>
    </div>
</footer>