<nav class="navbar navbar-light text-dark bg-light d-flex row justify-content-around overflow-hidden">
    <section class="navbar-brand mb-0 h1 FullName text-dark">Ismail Tayeb Abderahim</section>
</nav>