<div class="position-absolute" style="top:0px; left:0px;">
    <button class="btn btn-light m-1" title="ToggleDarkMode" id="switch">
        <i class="fa-solid fa-sun text-warning modeIcon"></i>
    </button>
</div>