/* genereal */
*{
    transition: all 500ms;
    position: relative;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    overflow-x: hidden;
}
/* first slide */
.overview{
    background-image: url(../images/pr_bg.jpeg);
    background-size:cover;
    backdrop-filter: blur(10px);
}
.overlay{
    backdrop-filter:brightness(0.6);
    width:95%;
}
/* More Information nav */
.info-sec{
    backdrop-filter:brightness(0.6);
    width:300px;
    height:190px
}
.about{
    gap:10px;
}
.lnk:hover{
    left:2px;
    border-left:1px solid white;
    padding-left:2px;
}
/* effect for repo ticket */
.repo , .lnk{
    cursor: context-menu;
    user-select:none;
}
.repo:hover{
    top: -3px;
    box-shadow: 0px 5px 5px -4px grey;
}
new-repo{
    width:50%;
}